.Control {
  position: relative;
  font-family: "PT Sans", sans-serif;
  font-size: 14px;
  user-select: none;
}

.Panel {
  position: absolute;
  width: 300px;
  background-color: #f8f8f8;
  border: 1px solid #aaaaaa;
  border-radius: 10px;
  margin: 15px;
}

.Title {
  grid-column: 1 / 3;
  padding: 10px;
  border-bottom: 1px solid #aaaaaa;
  font-size: 16px;
}

.IO {
  display: grid;
  grid-template-columns: 150px 150px;
  align-items: center;
  padding: 10px 0 5px;
  font-size: 16px;
}

.IO label {
  position: relative;
  margin: 0;
  padding: 5px 15px 10px;
}

.IO label > .node {
  position: absolute;
  top: 5px;
  background-color: #dddddd;
  border: 5px solid #888888;
  width: 10px;
  height: 10px;
  border-radius: 10px;
}

.IO label.connecting > .node {
  background-color: #88ff88;
  border: 1px solid #dddddd;
  width: 18px;
  height: 18px;
}

.IO label:hover > .node {
  background-color: #ddffdd;
}

.IO label.input {
  grid-column: 1 / 2;
}

.IO label.input > .node {
  left: -10px;
}

.IO label.output {
  grid-column: 2 / 3;
  text-align: right;
}

.IO label.output > .node {
  right: -10px;
}

.Description {
  grid-column: 1 / 3;
  margin: 0;
  padding: 10px;
  border-top: 1px solid #aaaaaa;
}

p {
  padding: 0;
  margin: 0;
}

svg {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  pointer-events: none;
}
